<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали студента</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container my-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3>Информация о студенте</h3>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>ID:</strong> <span th:text="${student.id}"></span></li>
                <li class="list-group-item"><strong>ФИО:</strong> <span th:text="${student.surname + ' ' + student.name + ' ' + student.patronymic}"></span></li>
                <li class="list-group-item"><strong>Пол:</strong> <span th:text="${student.gender}"></span></li>
                <li class="list-group-item"><strong>Национальность:</strong> <span th:text="${student.nationality}"></span></li>
                <li class="list-group-item"><strong>Дата рождения:</strong> <span th:text="${student.birthDate}"></span></li>
                <li class="list-group-item"><strong>Рост / Вес:</strong> <span th:text="${student.height + ' см / ' + student.weight + ' кг'}"></span></li>
                <li class="list-group-item"><strong>Телефон:</strong> <span th:text="${student.phoneNumber}"></span></li>
                <li class="list-group-item"><strong>ВУЗ:</strong> <span th:text="${student.university}"></span></li>
                <li class="list-group-item"><strong>Специальность:</strong> <span th:text="${student.specialty}"></span></li>
                <li class="list-group-item"><strong>Группа / Курс:</strong> <span th:text="${student.group + ' (' + student.course + ' курс)'}"></span></li>
                <li class="list-group-item"><strong>Средний балл:</strong> <span th:text="${student.averageGrade}"></span></li>
            </ul>
        </div>
        <div class="card-footer">
            <a th:href="@{/students}" class="btn btn-secondary">Назад к списку</a>
            <a th:href="@{'/students/edit/' + ${student.id}}" class="btn btn-warning">Редактировать</a>
        </div>
    </div>
</div>
</body>
</html>